<?xml version="1.0" encoding="utf-8"?>
<config>
  <tabs>
    <eship translate="label" module="eship">
      <label>eShip</label>
      <sort_order>99999</sort_order>
    </eship>
  </tabs>
  <sections>
    <eship_options translate="label" module="eship">
      <label>eShip Settings</label>
      <tab>eship</tab>
      <frontend_type>text</frontend_type>
      <sort_order>10</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <eship_settings translate="label">
          <label>eShip Details</label>
          <frontend_type>text</frontend_type>
          <sort_order>10</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <eship_api_key translate="label">
              <label>Api Key</label>
              <frontend_type>text</frontend_type>
              <sort_order>10</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </eship_api_key>
          </fields>
        </eship_settings>
      </groups>
    </eship_options>
    <carriers>
      <groups>
        <courierpost translate="label" module="ship">
          <label>eShip (CourierPost)</label>
          <frontend_type>text</frontend_type>
          <sort_order>81</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <name translate="label">
              <label>Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <calculate translate="label">
              <label>Calculate (otherwise flat rate below)</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </calculate>
            <price translate="label">
              <label>Flat Rate Price</label>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <specificerrmsg translate="label">
              <label>Displayed Error Message</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </specificerrmsg>
            <sallowspecific translate="label">
              <label>Ship to Applicable Countries</label>
              <frontend_type>select</frontend_type>
              <sort_order>90</sort_order>
              <frontend_class>shipping-applicable-country</frontend_class>
              <source_model>
              adminhtml/system_config_source_shipping_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sallowspecific>
            <specificcountry translate="label">
              <label>Ship to Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>91</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <can_be_empty>1</can_be_empty>
            </specificcountry>
          </fields>
        </courierpost>
        <nzpost translate="label" module="ship">
          <label>eShip (New Zealand Post)</label>
          <frontend_type>text</frontend_type>
          <sort_order>85</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <name translate="label">
              <label>Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <calculate translate="label">
              <label>Calculate (otherwise flat rate below)</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </calculate>
            <price translate="label">
              <label>Flat Rate Price</label>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <specificerrmsg translate="label">
              <label>Displayed Error Message</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </specificerrmsg>
            <sallowspecific translate="label">
              <label>Ship to Applicable Countries</label>
              <frontend_type>select</frontend_type>
              <sort_order>90</sort_order>
              <frontend_class>shipping-applicable-country</frontend_class>
              <source_model>
              adminhtml/system_config_source_shipping_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sallowspecific>
            <specificcountry translate="label">
              <label>Ship to Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>91</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <can_be_empty>1</can_be_empty>
            </specificcountry>
          </fields>
        </nzpost>
        <pace translate="label" module="ship">
          <label>eShip (Pace)</label>
          <frontend_type>text</frontend_type>
          <sort_order>86</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Title</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <name translate="label">
              <label>Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </name>
            <calculate translate="label">
              <label>Calculate (otherwise flat rate below)</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>3</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </calculate>
            <price translate="label">
              <label>Flat Rate Price</label>
              <frontend_type>text</frontend_type>
              <sort_order>4</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <specificerrmsg translate="label">
              <label>Displayed Error Message</label>
              <frontend_type>textarea</frontend_type>
              <sort_order>6</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </specificerrmsg>
            <sallowspecific translate="label">
              <label>Ship to Applicable Countries</label>
              <frontend_type>select</frontend_type>
              <sort_order>90</sort_order>
              <frontend_class>shipping-applicable-country</frontend_class>
              <source_model>
              adminhtml/system_config_source_shipping_allspecificcountries</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
            </sallowspecific>
            <specificcountry translate="label">
              <label>Ship to Specific Countries</label>
              <frontend_type>multiselect</frontend_type>
              <sort_order>91</sort_order>
              <source_model>adminhtml/system_config_source_country</source_model>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>0</show_in_store>
              <can_be_empty>1</can_be_empty>
            </specificcountry>
          </fields>
        </pace>
      </groups>
    </carriers>
  </sections>
</config>